<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Employee Reset</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/styles.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>

<body>
  <div class="containerf">

    <div class="container_form">
    <div class="top">
      <div class="title">
        <a href="/"><p>ANP Hospital Management System </p></a>
      </div>
    </div>
    <h2 class="sign-in">Forget Password</h2>
      <div class="input-box">
        <input class='input' type="text" name="username" placeholder="Username">
      </div>
      <button id="myBtn"class="btn btn-primaryy buton"type="submit" name="button" onclick="resetPass()"><p>Reset Password</p></button>
  </div>
</div>

<script src="./js/presetpass.js"></script>
</body>

</html>
